@import url('https://fonts.googleapis.com/css?family=Tangerine|Roboto');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFF;
    text-align: justify;
    color: #FFF;
}

.columna{
    background-color: #526482;
    padding: 20px;
    margin-top: 20px;
}

h3{
    padding-top: 10px;
    font-family: 'Tangerine', serif;
    font-size: 50px;
}

.columna img{
    width: 100%;
    height: 250px;
}

.curso_columna img{
    width: 100%;
}

.curso_columna{
    padding: 20px;
}

nav {
    background-color: #FFF;
}

.info_curso{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    color: #FFF;
    width: 50%;
    height: 100%;
}